/* start of full page styling */
:root {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    --color1:  #42a1c6;
    --color2: #f7e6ff;
    --color3:  #1f1f2e;
    --color4: #e3ddcfff;
}

/* page reset */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color3);
    display: flex;
    flex-direction: row;
}

/* end of full page styling */

/* start of about me section styling */
#about-bar {
    width: 250px;
    height: 95%;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    color: var(--color3);
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border: 1px black solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 10px;
}
/* end of about me section styling */

/* start of contact info section styling */
#contact-info {
    position: fixed;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    margin: 0px 15px;
}

.contact-details {
    font-size: 1.6rem;
    margin: 0px 20px;
    color: white;
    font-weight: bold;
}
/* end of contact info section styling */

/* start of portfolios section styling */
#portfolio {
    height: 95%;
    width: 95%;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#portfolio h2{
    height: 5%;
    width: 100%;
    margin: 2rem 0rem;
    text-align: center;
    font-size: 2rem;
}

#portfolios-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.project-tile {
    height: 380px;
    width: 380px;
    margin: 0px 10px;
    padding: 20px;
    background-color: var(--color4);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}


.languages {
    display: block;
    font-weight: bold;
}

.project-tile:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px black;
}

.project-tile:active{
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px black;
}

/* end of portfolios section styling */








